%dir.chat-main
  %div.chat-main__header
    %div.chat-main__header--left-box
      %div.chat-main__header--left-box-name
        test
      %div.chat-main__header--left-box-group
        Member:masa
    %div.chat-main__header--right-box
      = link_to "#", class: "edit-btn" do
        Edit
  %div.chat-main__messages
    %div.chat-main__messages--box
      %div.chat-main__messages--box-user
        %div.chat-main__messages--box-user-name
          masa
        %div.chat-main__messages--box-user-date
          2019/11/20(wed) 17:43:01
      %div.chat-main__messages--box-massege
        おはよう
    %div.chat-main__messages--box
      %div.chat-main__messages--box-user
        %div.chat-main__messages--box-user-name
          masa
        %div.chat-main__messages--box-user-date
          2019/11/20(wed) 17:43:01
      %div.chat-main__messages--box-massege
        おはよう
    %div.chat-main__messages--box
      %div.chat-main__messages--box-user
        %div.chat-main__messages--box-user-name
          masa
        %div.chat-main__messages--box-user-date
          2019/11/20(wed) 17:43:01
      %div.chat-main__messages--box-massege
        おはよう
  %div.chat-main__form
    %div.chat-main__form--left
      %dir.chat-main__form--left-text
      %div.chat-main__form--left-img
        %label.input-box__image
          %i.fa.fa-image
          %input{:type => "file"}
    %div.chat-main__form--right
      