%div.chat-side
  %div.chat-side__header
    %dir.chat-side__header--box
      %div.chat-side__header--box--left
        masa
      %div.chat-side__header--box--right
        = link_to "#", class: "box__btn" do
          %i.fas.fa-edit
        = link_to "#", class: "box__btn" do
          %i.fas.fa-cog
  %div.chat-side__groups
    %div.chat-side__groups--box
      %div.chat-side__groups--box--name techamp
      %div.chat-side__groups--box--lastmassege まだメッセージがありません
    %div.chat-side__groups--box
      %div.chat-side__groups--box--name techamp
      %div.chat-side__groups--box--lastmassege まだメッセージがありません
    %div.chat-side__groups--box
      %div.chat-side__groups--box--name techamp
      %div.chat-side__groups--box--lastmassege まだメッセージがありません